h1 register

form(method="POST")
    input(type="text",name="name",placeholder="名前")
    input(type="text",name="screenName",placeholder="screen_name")
    input(type="password",name="password",placeholder="パスワード")
    input(type="submit",value="登録")